<!DOCTYPE html>

<html style="min-height: 100%">

	<!-- Head -->
	<head>
		<title>Spotify User Info</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<style>
			html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
		</style>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

	</head>

	<!-- Body -->
	<body class="w3-light-grey" style="min-height: 100%">

		<div class="w3-content w3-margin-top" style="max-width:1400px;">
			<div class="w3-container">

				<div class="w3-row">
  <div class="w3-col w3-container w3-green" style="width:20%"><p>20%</p></div>
  <div class="w3-col w3-container w3-blue" style="width:60%"><p>60%</p></div>
  <div class="w3-col w3-container w3-red" style="width:20%"><p>20%</p></div>
</div>



				<!-- User informations -->
				<div class="w3-container w3-quarter w3-black" style="margin: 5px; padding: 5px;">

					<!-- User profile image and name -->
					<img id="user_image" alt="Avatar" style="display: block; margin: auto; max-width: 100%;" src="/static/noProfileImage.png">
					<h2 class="w3-text-green" id="user_name" style="text-align: center;"></h2>

					<!-- Table with user info -->
					<table style="width:100%; text-align: left;">
						<!-- Country -->
						<tr>
							<th>
								<i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-light-grey">&nbsp;Country: </i>
							</th>
						</tr>
						<tr style="text-align: center;">
							<th style="width:100%;">
								<p class="w3-text-green" id="user_country"></p>
							</th>
						</tr>
						<!-- Email -->
						<tr>
							<th>
								<i class="fa fa-envelope fa-fw w3-margin-right w3-large  w3-text-light-grey">&nbsp;Email: </i>
							</th>
						</tr>
						<tr style="text-align: center;">
							<th>
								<p class="w3-text-green" id="user_email"></p>
							</th>
						</tr>
						<!-- Birthdate -->
						<tr>
							<th>
								<i class="fa fa-birthday-cake fa-fw w3-margin-right w3-large  w3-text-light-grey">&nbsp;DoB: </i>
							</th>
						</tr>
						<tr style="text-align: center;">
							<th>
								<p class="w3-text-green" id="user_bod"></p>
							</th>
						</tr>
						<!-- Followers -->
						<tr>
							<th>
								<i class="fa fa-group fa-fw w3-margin-right w3-large w3-text-light-grey">&nbsp;Followers: </i>
							</th>
						</tr>
						<tr style="text-align: center;">
							<th>
								<p class="w3-text-green" id="user_followers"></p>
							</th>
						</tr>
						<!-- Plan -->
						<tr>
							<th>
								<i class="fa fa-star fa-fw w3-margin-right w3-large w3-text-light-grey">&nbsp;Account&nbsp;Type: </i>
							</th>
						<tr>
							<th style="text-align: center;">
								<p class="w3-text-green" id="user_plan"></p>
							</th>
						</tr>
					</table>
				</div>

				<!-- Access information -->
				<div class="w3-container w3-rest w3-black" style="margin: 5px; padding: 5px;">
					<table style="max-width:100%; text-align: left; overflow-x: auto;">
						<!-- Access Token -->
						<tr>
							<th>
								<p class="fa fa-fw w3-margin-right w3-large w3-text-light-grey">&nbsp;Access&nbsp;Token: </p>
							</th>
						</tr>
						<tr style="max-width:100%;text-align: center;">
							<th >
								<p class="w3-text-green w3-small" id="access_token"></p>
							</th>
						</tr>
						<!-- Access Type -->
						<tr>
							<th>
								<p class="fa fa-fw w3-margin-right w3-large w3-text-light-grey">&nbsp;Access&nbsp;Type: </p>
							</th>
						</tr>
						<tr style="max-width:100%;text-align: center;">
							<th style="width:100%;">
								<p class="w3-text-green  w3-small" id="access_type"></p>
							</th>
						</tr>
						<!-- Access Expiry -->
						<tr>
							<th>
								<p class="fa fa-fw w3-margin-right w3-large w3-text-light-grey">&nbsp;Access&nbsp;Expiry: </p>
							</th>
						</tr>
						<tr style="max-width:100%;text-align: center;">
							<th style="width:100%;">
								<p class="w3-text-green  w3-small" id="access_expiry"></p>
							</th>
						</tr>
						<!-- Refresh Token -->
						<tr>
							<th>
								<p class="fa fa-fw w3-margin-right w3-large w3-text-light-grey">&nbsp;Refresh&nbsp;Token: </p>
							</th>
						</tr>
						<tr style="max-width:100%;text-align: center;">
							<th style="width:100%;">
								<p class="w3-text-green  w3-small" id="refresh_token"></p>
							</th>
						</tr>
						<!-- Scope -->
						<tr>
							<th>
								<p class="fa fa-fw w3-margin-right w3-large w3-text-light-grey">&nbsp;Scope: </p>
							</th>
						</tr>
						<tr style="max-width:100%;text-align: center;">
							<th style="width:100%;">
								<p class="w3-text-green  w3-small" id="access_scope"></p>
							</th>
						</tr>
					</table>
				</div>
			</div>
			<a href="playlists?access_token={{ access_token }}&refresh_token={{ refresh_token }}" id="playlists_link">here</a>

		<!-- Footer -->
		</div>
		<script id="app" type="text/javascript" src="{{ url_for('static', filename='app.js') }}" access_token={{ access_token }} refresh_token={{ refresh_token }}></script>

	</body>
</html>
