<!DOCTYPE html>

<html style="min-height: 100%">

	<!-- Head -->
	<head>
		<title>Spotify User Info</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<style>
			html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
		</style>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

	</head>

	<!-- Body -->
	<body class="w3-light-grey" style="min-height: 100%">

    <div id="load_container" style="position: absolute; width: 100%; height: 100%; text-align: center;">

			<h2 class="w3-text-green" id="load_desc"style="text-align: center;"></h2>
      <img src="https://media.tenor.com/images/903f9887941e6799b9da9f3dc6c82891/tenor.gif"></img>

    </div>

		<div class="w3-content w3-margin-top" style="max-width:1400px; visibility:hidden">
			<div class="w3-container">

				<!-- User informations -->
				<div class="w3-container w3-quarter w3-black" style="margin: 5px; padding: 5px;">

					<!-- User profile image and name -->
					<img id="user_image" alt="Avatar" style="display: block; margin: auto; max-width: 100%;" src="/static/noProfileImage.png">
					<h2 class="w3-text-green" id="user_name" style="text-align: center;"></h2>

					<!-- Table with user info -->
					<table style="width:100%; text-align: left;">
					</table>
				</div>
      </div>


			<a href="playlists?access_token={{ access_token }}&refresh_token={{ refresh_token }}" id="playlists_link">here</a>

		<!-- Footer -->
		</div>
		<script id="app" type="text/javascript" src="{{ url_for('static', filename='playlists.js') }}" access_token={{ access_token }} refresh_token={{ refresh_token }}></script>

	</body>
</html>
