{% extends 'base.html' %}

{% block head_scripts %}
{% endblock %}

{% block page_content %}
  <div class="container">
    <div id="login">
      <h1>Click below to authorise spotinfo</h1>
      <button id="login-button" class="btn btn-primary">Log in with Spotify</button>
    </div>
  </div>
{% endblock %}

{% block body_scripts %}
  <script>
    if (checkAuthentication()) {
      window.location = REDIRECT_URI;
    }else{
      document.getElementById("login-button").addEventListener('click', function() {authenticateWithSpotify();});
    }
  </script>
{% endblock %}
