{% extends 'base.html' %}

{% block head_scripts %}
{% endblock %}

{% block page_content %}
  <div class="container">

    <h1>Spotinfo playlists</h1>


    <div id="user-playlists">
      <table id="user-playlists-table">
        <tr>
          <th>Image</th>
          <th onclick="sortTable(1, 'user-playlists-table', 'text')">Name</th>
          <th onclick="sortTable(2, 'user-playlists-table', 'num')">No. of songs</th>
          <th onclick="sortTable(3, 'user-playlists-table', 'num')">No. of followers</th>
        </tr>
      </table>
    </div>

    <div id="nuser-playlists">
      <table id="nuser-playlists-table">
        <tr>
          <th>Image</th>
          <th onclick="sortTable(1, 'nuser-playlists-table', 'text')">Name</th>
          <th onclick="sortTable(2, 'nuser-playlists-table', 'text')">Owner</th>
          <th onclick="sortTable(3, 'nuser-playlists-table', 'num')">No. of songs</th>
          <th onclick="sortTable(4, 'nuser-playlists-table', 'num')">No. of followers</th>
        </tr>
      </table>
    </div>
  </div>
{% endblock %}

{% block body_scripts %}
  <script src="playlists.js"></script>
{% endblock %}
