{% extends 'base.html' %}

{% block head_scripts %}
{% endblock %}

{% block page_content %}
  <div class="container">

    <!-- User profile and some buttons -->
    <h1>Spotinfo Home-page</h1>
    <div id="user-profile">
    </div>
    <div id="buttons">
      <button id="button1" class="btn btn-primary">Button 1</button>
      <button id="button2" class="btn btn-primary">Button 2</button>
      <button id="button3" class="btn btn-primary">Button 3</button>
      <button id="button4" class="btn btn-primary">Button 4</button>
    </div>
  </div>
{% endblock %}

{% block body_scripts %}
  <script src="js/home.js"></script>
{% endblock %}
